@import '~node_modules/@fontsource/open-sans/index.css';
@import '~node_modules/@fontsource/fira-code/index.css';
@import 'themes';
@import 'header';
@import 'sections';
@import 'examples';

@font-face {
  font-family: 'Public Pixel';
  src: url('../assets/fonts/public-pixel/PublicPixel.woff2') format('woff2'),
    url('../assets/fonts/public-pixel/PublicPixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
