doctype html
html
  head
    title iBlokz Boilerplate
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="A simple Pug page structure")
    link(href="styles/index.scss", rel="stylesheet")
    script(type="module", src="app/index.js")
  body